# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/workspace.xml
EventBus/build/tmp/compileJava/
EventBus3.0_Sample/build/generated/assets/
EventBus3.0_Sample/build/generated/res/
EventBus3.0_Sample/build/generated/source/aidl/
EventBus3.0_Sample/build/generated/source/apt/
EventBus3.0_Sample/build/generated/source/r/androidTest/
EventBus3.0_Sample/build/generated/source/rs/
EventBus3.0_Sample/build/intermediates/assets/
EventBus3.0_Sample/build/intermediates/blame/res/androidTest/
EventBus3.0_Sample/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
EventBus3.0_Sample/build/intermediates/incremental/mergeDebugAndroidTestResources/merged.dir/
EventBus3.0_Sample/build/intermediates/incremental/mergeDebugResources/aapt-temp/
EventBus3.0_Sample/build/intermediates/incremental/packageDebugAndroidTest/
EventBus3.0_Sample/build/intermediates/incremental/packageRelease/
EventBus3.0_Sample/build/intermediates/incremental/processDebugAndroidTestResources/
EventBus3.0_Sample/build/intermediates/incremental/processDebugResources/
EventBus3.0_Sample/build/intermediates/jniLibs/
EventBus3.0_Sample/build/intermediates/manifest/tmp/
EventBus3.0_Sample/build/intermediates/manifests/instant-run/
EventBus3.0_Sample/build/intermediates/res/merged/androidTest/
EventBus3.0_Sample/build/intermediates/rs/
EventBus3.0_Sample/build/intermediates/shaders/
EventBus3.0_Sample/build/intermediates/symbols/androidTest/
EventBus3.0_Sample/build/intermediates/transforms/mergeJavaRes/
EventBus3.0_Sample/build/intermediates/transforms/mergeJniLibs/
EventBus3.0_Sample/build/intermediates/transforms/stripDebugSymbol/
EventBus3.0_Sample/build/tmp/compileDebugJavaWithJavac/
EventBus3.0_Sample/libs/
app/src/main/res/anim/
test/libs/
test/src/main/res/drawable/
vitamio/.DS_Store
vitamio/assets/
vitamio/build/generated/assets/
vitamio/build/generated/res/
vitamio/build/generated/source/aidl/
vitamio/build/generated/source/apt/
vitamio/build/generated/source/rs/
vitamio/build/intermediates/bundles/debug/aidl/
vitamio/build/intermediates/bundles/debug/assets/
vitamio/build/intermediates/bundles/default/aidl/
vitamio/build/intermediates/bundles/default/assets/
vitamio/build/intermediates/bundles/default/libs/
vitamio/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
vitamio/build/intermediates/incremental/packageDebugAndroidTest/
vitamio/build/intermediates/incremental/processDebugAndroidTestResources/
vitamio/build/intermediates/incremental/processDebugResources/
vitamio/build/intermediates/incremental/processReleaseResources/
vitamio/build/intermediates/lint/
vitamio/build/intermediates/manifest/tmp/
vitamio/build/intermediates/rs/
vitamio/build/intermediates/shaders/
vitamio/build/intermediates/transforms/mergeJavaRes/
vitamio/build/tmp/
vitamio/libs/.DS_Store
vitamio/res/raw/
xListView/build/generated/res/
xListView/build/generated/source/aidl/
xListView/build/generated/source/r/androidTest/
xListView/build/generated/source/rs/
xListView/build/intermediates/blame/res/androidTest/
xListView/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
xListView/build/intermediates/incremental/mergeDebugAndroidTestResources/merged.dir/
xListView/build/intermediates/incremental/mergeDebugResources/
aapt-temp/
xListView/build/intermediates/incremental/packageDebug/
xListView/build/intermediates/incremental/packageDebugAndroidTest/
xListView/build/intermediates/incremental/packageRelease/
xListView/build/intermediates/incremental/processDebugAndroidTestResources/
xListView/build/intermediates/incremental/processDebugResources/
xListView/build/intermediates/manifest/tmp/
xListView/build/intermediates/manifests/instant-run/
xListView/build/intermediates/res/merged/androidTest/
xListView/build/intermediates/rs/
xListView/build/intermediates/symbols/
xListView/build/intermediates/incremental/mergeDebugResources/aapt-temp/
